<form action="" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="{{ if eq $.Site.Language.Lang "zh" }}您的邮箱{{ else }}Your email{{ end }}" class="w-100">
    <label for="email">{{ if eq $.Site.Language.Lang "zh" }}您的邮箱{{ else }}Your email{{ end }}</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">{{ if eq $.Site.Language.Lang "zh" }}提交{{ else }}Submit{{ end }}</button>

</form>
