{{ define "main" }}

{{ if eq .Site.Language.Lang "zh" }}
  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" "蓝港贸易<br>您的海事燃料合作伙伴" "subtitle" .Params.subtitle) }}
{{ else }}
  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
{{ end }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ $buttonLink := "/en/values" }}
{{ if eq .Site.Language.Lang "zh" }}
  {{ $buttonLink = "/zh/values" }}
{{ end }}
{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" (i18n "readMore") "buttonLink" $buttonLink) }}

{{ partial "blog" . }}

{{ end }}
